.vs
Debug
Release
*.aps
*.user

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.xcuserstate
ch01/01_BufferViewer_mac/01_BufferViewer_mac.xcodeproj/xcuserdata/bytedance.xcuserdatad/xcschemes/xcschememanagement.plist
rtcbook_mac.xcworkspace/xcuserdata/bytedance.xcuserdatad
ch01/02_TextViewer_mac/02_TextViewer_mac.xcodeproj/xcuserdata/bytedance.xcuserdatad
ch01/02_TextViewer_mac/02_TextViewer_mac.xcodeproj/xcuserdata/bytedance.xcuserdatad/xcschemes/xcschememanagement.plist
/Data/Image/*.yuv
